@model IEnumerable<ApplicationRoleListViewModel>
@using Lotery.Models
@using Lotery.Code

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Roles</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createRoleModal" data-toggle="modal" asp-action="AddEditApplicationRole" data-target="#modal-action-application-role" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  Agregar Rol
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RoleName</td>
                        <td>@item.Description</td>
                        <td>
                            <a id="addEditApplicationRoleModal" data-toggle="modal" asp-action="AddEditApplicationRole" asp-route-id="@item.Id" data-target="#modal-action-application-role"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Editar
                            </a>

                            <a id="deleteApplicationRoleModal" data-toggle="modal" asp-action="DeleteApplicationRole" asp-route-id="@item.Id" data-target="#modal-action-application-role" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Borrar
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-application-role", AreaLabeledId = "modal-action-application-role-label", Size = ModalSize.Medium })

@section scripts
    {
    <script src="~/js/application-role-index.js" asp-append-version="true"></script>
}